html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
	font-size: 62.5%;
}

body {
    background: #fff;
    font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	letter-spacing: 0.03rem;
	line-height: 1.5;
	color: #232335;
	text-rendering: optimizeLegibility;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

.header {
    padding: 2rem;
}

/* Styles for Typography*/

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #02a99b;
}

h3 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h6 {
    font-size: 1.8rem;
    font-weight: bold;
}


/* Styles for Info Panel */

.info-panel {
    text-align: left;
    min-width: 60rem;
    margin-bottom: 2rem;
}

.stars,
.moves,
.timer {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 3rem;
}

.moves {
    min-width: 7rem;
    text-align: left;
}

.star {
    list-style: none;
    display: inline-block;
    color: #ffcd04;
    text-align: left;
    margin-left: -3px;
}

.star-removed {
    opacity: 0.5;
    color: #c9c7bf;
}

.restart {
    float: right;
    cursor: pointer;
}


/* Styles for Card Deck */

.deck {
    height: 100%;
    width: 100%;
    background: linear-gradient(165deg, #33b9c2 20%, #7f7bd7 100%);
    padding: 3rem 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    flex-grow: 1;
    perspective: 300rem;
}

.card {
    height: 15rem;
    width: 15rem;
    margin: 1rem 2rem;
    background: linear-gradient(135deg, #35eedf 0%, #35eedf 60%,#19c7f7 60%, #19c7f7 85%, #9490ed 85%, #9490ed 100%);
    color: #fff;
    font-size: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 2px 1rem 0 rgba(37, 89, 131, 0.4);
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: font-size 0.1s, transform 0.6s cubic-bezier(0,.78,.37,1.21), background 0.4s;
}

.card i {
    transform: rotateY(180deg);
}

.card.open {
    transform: rotateY(180deg);
    background: #19c7f7;
    cursor: default;
}

.card.show,
.card.match {
    font-size: 6rem;
}

.card.match {
    cursor: default;
    background: #3ae1d3;
    animation: jelly 0.9s 0.2s;
}


/* Congrats Modal */

.modal-congrats {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    text-align: center;
    min-width: 50rem;
    min-height: 30rem;
    border-radius: 1rem;
    background: rgb(243, 252, 255);
    padding: 4rem;
    animation: bounceIn 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.congrats-svg {
    width: 10rem;
    margin-bottom : 1rem;
}

.congrats-info {
    padding: 0.5rem 2rem;
    display: inline-block;
    margin: 2rem auto;
}

.congrats-item {
    text-align: left;
}

.info {
    display: inline-block;
    min-width: 13rem;
}

.info-summary {
    color: #09b7e7;
}

/* Modal Replay Button */

.modal-replayBtn {
    display: block;
    margin : 1rem auto;
    padding: 1rem 2rem;
    min-width: 4rem;
    border-radius: 2rem;
    border: none;
    background-color: #09b7e7;
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.modal-replayBtn:focus {
    outline: none;
}


/* Modal Close Button */

.modal-close {
    position: absolute;
    right: 3rem;
    top: 1rem;
    z-index: 2;
    font-size: 4rem;
    color: #2abbb9;
    transition : ease-in 0.1s;
}

.modal-close:hover,
.modal-close:focus {
    color: #06dda4;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
}

/* Animation */

@keyframes jelly {
    0%, 100% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
}
 
@keyframes bounceIn {
    0%, 10% {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    20% {
        transform: scale3d(.5, .5, .5);
    }
    30% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    50% {
        opacity: 1;
        transform: scale3d(.9, .9, .9);
    }
    70% {
        transform: scale3d(1.03, 1.03, 1.03);
    }
    90% {
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

/* @keyframes shake {
    0%, 100% {
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 70% {
    transform: translate3d(-1rem, 0, 0);
    }
    20%, 40%, 80% {
    transform: translate3d(1rem, 0, 0);
    }
} */